:root {
  /* Colors / Themes */
  --primaryColor: #053b3f;
  --seocndaryColor: #20bd95;
  --primaryWhite: #fff;
  --primaryBlack: #000;
  --secondaryBlack: #1d1d1d;

  /* Text */
  --primaryTextBlack: var(--primaryBlack);
  --primaryTextWhite: var(--primaryWhite);
  --textSize: 16px;
  --headingH1: 36px;
  --headingH2: 30px;
  --headingH1: 24px;
  --headingH1: 18px;
  --headingH1: 14px;
  --headingH1: 12px;

  /* Buttons */
  --buttonLarge: 40px;
  --buttonMedium: 30px;
  --buttonSmall: 20px;
}

/* CSS RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Pro', sans-serif;
  text-decoration: none;
}

/* Laptop Screens */
@media (min-width: 992px) {

  .bgOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.781);
  }

  /* Header */
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0 auto;
    max-width: 1440px;
    height: 70px;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 9;
    background-color: #fff;
  }

  .left_brand {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primaryTextBlack);
    font-weight: 600;
  }

  .logo span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .logo span h3 {
    font-size: var(--headingH3);
    height: 40px;
    width: 40px;
    background-color: var(--primaryTextBlack);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  nav a {
    font-size: 16px;
    color: black;
  }

  .cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .cta a {
    width: 100px;
    color: black;
    text-align: center;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 16px;
  }

  .cta a.primary {
    background-color: var(--primaryColor);
    color: var(--primaryWhite);
  }

  .cta a.secondary {
    text-decoration: underline;
  }


  /* Banner */
  .banner {
    width: 100%;
    height: calc(100vh - 70px);
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 50px;
    margin: 0 auto;
    max-width: 1440px;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .intro {
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }

  .intro h1 {
    font-size: 67px;
    color: white;
    line-height: 1.25;
  }

  .content h2 {
    font-size: 75px;
    font-weight: 550;
  }

  .content h3 {
    font-size: 23px;
    /* margin-top: 20px; */
    font-weight: 500;
    line-height: 1.5;
    color: white;
  }

  .content img {
    height: 100%;
    width: 50%;
    object-fit: contain;
  }

  .primary {
    background-color: var(--primaryColor);
    color: white;
    padding: 15px 25px;
    border-radius: 3px;
  }

  /* Who we are */
  .who-we-are {
    width: 100%;
    margin-top: 80px;
    padding: 0 50px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .head {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .head h3 {
    font-size: 42px;
  }

  .who-we-are-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .who-we-are-content p {
    font-size: 20px;
    text-align: center;
    max-width: 60%;
    line-height: 1.5;
    color: rgb(29, 29, 29);
    text-transform: initial;
  }

  .who-we-are-cards {
    padding: 20px 70px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .whoWeAreCard, .card {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    transition: transform 0.25s ease-in-out;
  }

  .whoWeAreCard {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    transition: transform 0.25s ease-in-out;
  }

  .whoWeAreCard h2 {
    font-size: 26px;
  }

  .whoWeAreCard p {
    font-size: 18px;
    line-height: 1.5;
  }


  .card:hover {
    border: 2px solid var(--primaryColor);
    transform: scale(1.04);
    cursor: pointer;
  }

  .card .user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
  }

  .user .userInfo {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
  }

  .card .user .profileImg {
    height: 60px;
    width: 80px;
    background-color: gray;
    border-radius: 50%;
  }

  .card h2 {
    font-size: 26px;
    text-transform: capitalize;
  }

  .card blockquote {
    text-align: justify;
    line-height: 1.7;
  }


  /* image_opacity */
  .image_opacity {
    width: 100%;
    padding: 50px;
  }

  .container {
    width: 100%;
    height: 450px;
    background-color: var(--primaryColor);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }

  .container h3 {
    font-size: 54px;
    color: white;
  }

  .container p {
    font-size: 20px;
    width: 650px;
    text-align: center;
    color: white;
    line-height: 1.7;
    font-weight: 400;
  }

  .container form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .container form input {
    width: 350px;
    padding: 15px 15px;
    border-radius: 3px;
    border: 0;
    font-size: 16px;
    outline: 0;
  }

  .container button {
    width: 120px;
    padding: 15px;
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
    color: var(--primaryColor);
    font-weight: 550;
  }

  .container input {
    height: 100%;
    padding: 0 15px;
  }

  .border {
    border: 2px solid rgba(66, 66, 66, 0.295);
    border-radius: 15px;
  }


  /* clients */

  .clients {
    width: 100%;
    padding: 50px 0;
  }

  .partnersContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 30px;
  }

  .partners {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 20px;
  }

  .partners img {
    height:150px;
    width: 100%;
    object-fit: contain;
  }

  /* Footer */
  footer {
    width: 100%;
    padding: 70px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: var(--primaryColor);
    color: white;
  }

  .leftSide {
    width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
  }

  .left_brand_footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
  }

  .left_brand_footer a span p {
    color: white;
  }

  .leftSide p {
    font-size: 16px;
    line-height: 1.7;
  }

  footer nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  footer nav a {
    color: white;
  }

  .innerDiv {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 17px;

  }

  .innerDiv h3 {
    align-items: flex-start;
    justify-content: flex-start;
  }


  /* aboutContent */
  .aboutContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
  }

  .contactForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 70px;
  }

  .contactForm form {
    max-width: 700px;
    background-color: #fff;
    width: 100%;
    border: 1px solid lightgray;
    padding: 35px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  .contactForm form .hd {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .contactForm form .hd h3 {
    font-size: 40px;
  }

  .form_group {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .form_group label {
    font-size: 18px;
  }

  .form_group input,
  .form_group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid lightgray;
  }

  .form_group button {
    width: 100%;
    padding: 17px 25px;
    font-size: 16px;
    background-color: var(--primaryColor);
    color: rgba(255, 255, 255, 0.911);
    border-radius: 5px;
    cursor: pointer;
  }
}

/* Tablet Screens */
@media (min-width: 768px) and (max-width: 991.98px) {

  /* Header */
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 9;
  }

  .left_brand {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primaryTextBlack);
    font-weight: 600;
  }

  .logo span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .logo span h3 {
    font-size: var(--headingH4);
    height: 30px;
    width: 30px;
    background-color: var(--primaryTextBlack);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  nav a {
    font-size: 14px;
    color: var(--primaryBlack);
     }

  .cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .cta a {
    width: 100px;
    color: var(--primaryBlack);
    text-align: center;
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 14px;
  }

  .cta a.primary {
    background-color: var(--primaryColor);
    color: var(--primaryWhite);
  }

  .cta a.secondary {
    text-decoration: underline;
    display: none;
  }


  /* Banner */
  .banner {
    width: 100%;
    height: 350px;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1440px;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .intro {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }

  .content h2 {
    font-size: 40px;
  }

  .content h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  .content img {
    height: 100%;
    width: 50%;
    object-fit: contain;
  }

  .primary {
    background-color: var(--primaryColor);
    color: white;
    padding: 15px 20px;
    border-radius: 3px;
    font-size: 14px;
  }
}

/* Mobile Screens */
/* @media (max-width: 767.98px) {
  body {
    background-color: red;
  }
} */